<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="Pelicula"
		class="ejercicio.Pelicula.Modelo.ModeloPelicula" scope ="prototype">
	
		<property name="titulo" value="" />
		<property name="director" value="" />
		<property name="sinopsis" value="" />
	</bean>

	<bean id="almacenPeliculas" class="java.util.ArrayList"/>
	
	<context:component-scan base-package="ejercicio.Pelicula.Dao"/>
	<context:component-scan base-package="ejercicio.Pelicula.Negocio"/>
</beans>


